.divContenedor {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Bloque {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textoB1 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.h1Home {
    color: #15698c;
    font-size: 2rem;
}

.imCar {
    width: 100px;
    height: 16rem;
}

.contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0rem;
}

.tarjeta {
    border: solid #15698c 2px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgTarjetas {
    margin: 2rem 0rem;
    max-width: 10rem;
    max-height: 10rem;
}

.p {
    padding: 0rem 1rem;
    height: 10rem;
}

.btnDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0rem 2rem 1rem 0rem;
}

.imgFlecha {
    max-width: 3.5rem;
    max-height: 3.5rem;
}