.divContenedor {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Bloque {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textoB1 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.h1Home {
    color: rgb(155, 153, 241);
    font-size: 2rem;
}

.imCar {
    width: 100px;
    height: 16rem;
}

.contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0rem;
}

.tarjeta {
    border: solid rgb(155, 153, 241) 2px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding: 0rem 1rem;
}

.btnDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0rem 2rem 1rem 0rem;
}