@media screen and (min-width: 320px) {
  .divContenedor {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .Bloque {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .textoB1 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 7rem;
  }

  .h1Home {
    color: #15698c;
    font-size: 3.5rem;
    font-family: "Museo Sans 700";
    font-weight: bold;
  }

  .imCar {
    max-height: 20rem;
  }

  .contenedorTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .tarjeta {
    border: solid #15698c 2px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20rem;
  }

  .imgTarjetas {
    margin: 2rem 0rem;
    max-width: 10rem;
    max-height: 10rem;
  }

  .p {
    padding: 0rem 1rem;
    height: 10rem;
    margin: 1rem 1.5rem;
  }

  .btnDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 6rem 2rem 1rem 0rem;
  }

  .imgFlecha {
    max-width: 3.5rem;
    max-height: 3.5rem;
  }

  .articleInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .imgSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicioImg {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0rem;
  }

  .inicioImg {
    width: 400px;
  }
}
