.h1Servicios {
    color: #15698c;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.sectionServicios {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    gap: 8rem;
    margin-bottom: 3rem;
}

.articlesServicios {
    width: 24rem;
}

.pSubtituloServicios {
    padding-bottom: 1rem;
}