@media screen and (min-width: 320px) {
  .h1Servicios {
    color: #15698c;
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "Museo Sans 700";
    font-weight: bold;
  }

  .sectionServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .articlesServicios {
    width: 24rem;
  }

  .pSubtituloServicios {
    padding-bottom: 1rem;
    font-size: 30px;
  }

  .sectionImagesServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .servicioSubtitle {
    font-size: 50px;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .divSubtitle {
    display: flex;
    justify-content: center;
  }

  .divContenedorItems > p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .sectionServicios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: first baseline;
    gap: 8rem;
    margin-bottom: 3rem;
  }

  .sectionImagesServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
