@font-face {
    font-family: 'Museo Sans 500';
    src: url('MuseoSans-500Italic.eot');
    src: url('MuseoSans-500Italic.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-500Italic.woff2') format('woff2'),
        url('MuseoSans-500Italic.woff') format('woff'),
        url('MuseoSans-500Italic.svg#MuseoSans-500Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('MuseoSans-100.eot');
    src: url('MuseoSans-100.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-100.woff2') format('woff2'),
        url('MuseoSans-100.woff') format('woff'),
        url('MuseoSans-100.svg#MuseoSans-100') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('MuseoSans-700.eot');
    src: url('MuseoSans-700.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff'),
        url('MuseoSans-700.svg#MuseoSans-700') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('MuseoSans-300.eot');
    src: url('MuseoSans-300.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-300.woff2') format('woff2'),
        url('MuseoSans-300.woff') format('woff'),
        url('MuseoSans-300.svg#MuseoSans-300') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('MuseoSans-500.eot');
    src: url('MuseoSans-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-500.woff2') format('woff2'),
        url('MuseoSans-500.woff') format('woff'),
        url('MuseoSans-500.svg#MuseoSans-500') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

