.divNav {
    margin-top: 1.5rem;
    box-shadow: 0px 3px gainsboro;
}

.ContenedorNav {
    background-color: white;
    margin-bottom: 0.7rem;
}

img {
width: 16rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.linkBar {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

.active {
    border-bottom-color: #15698c;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.NavUl {
    gap: 2rem;
}